In [13]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('data/bronze.csv') #import du dataset
# Lien : https://www.kaggle.com/datasets/ishantjuyal/emotions-in-text

### 1.Exploration

In [15]:
print(df.shape)

(21459, 2)

In [16]:
df.sample(1)

                                                   Text Emotion
9558  i always feel so eager to escape it though it ...   happy

    ^ Le jeu de données est composé de 21_500 textes associés à une des six émotions parmis :  
        - Peur  
        - Colère
        - Amour
        - Surpise
        - Peur  
        - Joie

### 2. Nettoyage

In [17]:
df.duplicated().sum() # Voir le nombre de doublons

3

In [18]:
df = df.drop_duplicates() # Suppression des doublons

In [19]:
df.isna().sum() # Voir le nom de valeur nulles

Text       0
Emotion    0
dtype: int64

    ^ pas de valeur nulle

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21456 entries, 0 to 21458
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Text     21456 non-null  object
 1   Emotion  21456 non-null  object
dtypes: object(2)
memory usage: 502.9+ KB

3. Export

In [21]:
df.to_csv('data/silver.csv', index=False)