In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/bronze.csv') #import du dataset
# Lien : https://www.kaggle.com/datasets/ishantjuyal/emotions-in-text

### 1.Exploration

In [3]:
print(df.shape)

(21459, 2)

In [4]:
df.sample(1)

                                                    Text Emotion
13918  i don t feel like there was a part before the ...   anger

    ^ Le jeu de données est composé de 21_500 textes associés à une des six émotions parmis :  
        - Peur  
        - Colère
        - Amour
        - Surpise
        - Peur  
        - Joie

### 2. Nettoyage

In [5]:
df.duplicated().sum() # Voir le nombre de doublons

3

In [6]:
df = df.drop_duplicates() # Suppression des doublons

In [7]:
df.isna().sum() # Voir le nom de valeur nulles

Text       0
Emotion    0
dtype: int64

    ^ pas de valeur nulle

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21456 entries, 0 to 21458
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Text     21456 non-null  object
 1   Emotion  21456 non-null  object
dtypes: object(2)
memory usage: 502.9+ KB

3. Export

In [9]:
df.to_csv('data/silver.csv', index=False)

In [10]:
df[df.Text.str.contains(",")]

                                                    Text Emotion
20001  When Anna left Inspector Aziz , she was much happ   happy
20002  And though , as Lachlan had planned , they had...   happy
20003                  Honestly , I 'm really happy for    happy
20005  For once in his life , Leopold must have been ...   happy
20006                     She became happier , more sett   happy
...                                                  ...     ...
21447  And it was equally insistent that a policy of ...    fear
21449  Edouard looked at him , and felt a sickening dism    fear
21450  When Tina and the children moved into the Scho...    fear
21452  They stared at one another in dismay , the sad...    fear
21458                    I am dismayed , but not surpris    fear

[813 rows x 2 columns]